.FadeIn {
/*	animation-duration: 0.5s;
	animation-name: fade;
	animation-direction: normal;*/
	animation: 0.5s fade normal;
}

/*.FadeOut {
	animation-duration: 1s;
	animation-name: fade;
	animation-direction: reverse;
}*/

@keyframes fade {
	
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Yellow fade */

:target, .Highlight {
	-moz-animation: highlight 3s 1;
	-webkit-animation: highlight 3s 1;
	animation: highlight 3s 1;
}

@-moz-keyframes highlight {
	0% { background-color: #ff8; }
	50% { -moz-transform: scale(1.1) }
}

@-webkit-keyframes highlight {
	0% { background-color: #ff8; }
	50% { -webkit-transform: scale(1.1) }
}

@keyframes highlight {
	0% { background-color: #ff8; }
	50% { transform: scale(1.1) }
}